/* Protect your eyes */
@-moz-document url(about:blank), url(about:newtab) {
    .activity-stream {
        background-color: #323234 !important;
    }
    .top-sites-list .top-site-outer > a {
        color: #737373 !important;
    }
    #newtab-window,
    html {
    background: #323234;
    }
}

/* Protect against css keylogger */
body input:not([value=""])[type],
body input:not([value=""])[type]:focus ~ * {
  background-image: none !important;
  font-family: inherit !important;
  list-style-image: none !important;
  cursor: unset !important;
}
body input:not([value=""])[type]::before,
body input:not([value=""])[type]:focus ~ *::before,
body input:not([value=""])[type]::after,
body input:not([value=""])[type]:focus ~ *::after {
  content:none !important;
}