@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Firefox UI font */
* {
    font-family: "Helvetica Lt Std";
}

/* Tabs on bottom */
#TabsToolbar {
  -moz-box-ordinal-group: 3;
}
#nav-bar{
  border-top-width: 0px !important;
}
#TabsToolbar .tabbrowser-tabs {
  height: 18px !important;
  border-bottom: 1px solid #B1B1B1 !important;
}

/* Remove extra tab bar space */
#TabsToolbar {
  padding-inline-start: 0px !important;
  margin-bottom: none !important;
}

.titlebar-placeholder {
  display: none;
}

/* Full-width tabs */
#TabsToolbar .tabbrowser-tab[fadein]:not([pinned]) {
  flex-grow: 1 !important;
  min-width: 11em !important;
  max-width: 100% !important;
}

#TabsToolbar {
  box-shadow: inset 0px 1px 0px 0px rgb(162,160,162), inset 0px -1px 0px 0px rgb(162,160,162) !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: -1px !important;
  
}

/* Hide favicons, center text */
.tabbrowser-tabs .tab-icon-image {
  display: none !important;
}
.tabbrowser-tab[pinned]:not([busy="true"]) .tab-icon-image {
  display: block !important;
}
.tab-label {
  -moz-box-flex: 1 !important;
  text-align: center !important;
}

/* Hide and show close tab button */
#TabsToolbar .tab-close-button {
  -moz-box-ordinal-group: 1 !important;
  margin-left: -5.5px !important;
  border-radius: 2px !important;
  transition: opacity 200ms !important;
    /* small x */
  list-style-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\<line x1="4.5" y1="4.5" x2="11.5" y2="11.5" stroke="rgb(84,82,84)" stroke-width="1"/>\<line x1="4.5" y1="11.5" x2="11.5" y2="4.5" stroke="rgb(84,82,84)" stroke-width="1"/>\</svg>') !important;
}

@media (max-resolution: 1.9dppx) {
  #TabsToolbar .tab-close-button {
    list-style-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\<line x1="4.5" y1="4.5" x2="11.5" y2="11.5" stroke="rgb(84,82,84)" stroke-width="1.5"/>\<line x1="4.5" y1="11.5" x2="11.5" y2="4.5" stroke="rgb(84,82,84)" stroke-width="1.5"/>\</svg>') !important;
  }
}

#TabsToolbar tab:not(:hover) .tab-close-button {
  opacity: 0 !important;
}

#TabsToolbar tab:hover .tab-close-button {
  opacity: 1 !important;
}

#TabsToolbar tab .close-icon {
  -moz-image-region: unset !important;
}

#TabsToolbar tab .close-icon:hover {
  -moz-image-region: unset !important;
  background-color: rgba(0,0,0,0.1) !important;
  background-clip: padding-box !important;
}

#TabsToolbar tab .close-icon:hover:active {
  background-color: rgba(0,0,0,0.15) !important;
}

/* Floating scrollbar */
toolbarbutton#alltabs-button {
    -moz-binding: url("userChrome.xml#js");
}

/* Disable tab overflow */
.tabbrowser-tab {
  min-width: initial !important;
}

.tab-content {
  overflow: hidden !important;
}

/* Remove Left and Right Padding From Tab Bar */
.titlebar-placeholder[type="pre-tabs"], .titlebar-placeholder[type="post-tabs"] { display:none !important; }

/* Tab line hidden */
.tab-line { display: none !important; }


/* Move findbar to top */
@keyframes scale-in {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes scale-out {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.browserContainer {
  position: relative;
}

findbar {
  animation: 0.2s scale-in;
  transform-origin: top center;
  background: var(--toolbar-bgcolor) !important;
  padding: 4px 6px 6px 6px;
  border: 1px solid var(--toolbox-border-bottom-color);
  border-top-width: 0;
  border-radius: 0 0 var(--toolbarbutton-border-radius) var(--toolbarbutton-border-radius);
  position: absolute;
  top: -20px;
  right: 38px;
}

findbar[hidden="true"] {
  animation: 0.2s scale-out;
}

findbar .findbar-container {
  padding: 0 !important;
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}

findbar .findbar-container .findbar-textbox {
  padding: 6px 8px !important;
  background-color: var(--url-and-searchbar-background-color) !important;
  border-color: var(--backbutton-border-color) !important;
}

findbar .findbar-container .findbar-textbox[status="notfound"] {
  background-color: #E74C3C !important;
  color: white !important;
}

findbar .findbar-container .findbar-find-previous,
findbar .findbar-container .findbar-find-next {
  background: transparent !important;
  border-color: var(--backbutton-border-color) !important;
}

findbar .findbar-container .findbar-find-previous:hover, findbar .findbar-container .findbar-find-previous:focus,
findbar .findbar-container .findbar-find-next:hover,
findbar .findbar-container .findbar-find-next:focus {
  background-color: var(--toolbarbutton-hover-background) !important;
}

findbar .findbar-button {
  border: 1px solid var(--backbutton-border-color);
  border-radius: var(--toolbarbutton-border-radius) !important;
}

findbar .findbar-closebutton {
  margin-right: 4px !important;
  padding-inline-end: 0 !important;
  position: relative;
  top: 6px;
}

window[lwtheme="true"] findbar {
  background: var(--lwt-header-image) !important;
  background-attachment: fixed !important;
  background-position: top right !important;
  top: -1px;
}

window[lwtheme="true"] findbar:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: var(--toolbar-bgcolor);
}

window[lwtheme="true"] findbar .findbar-container,
window[lwtheme="true"] findbar .findbar-closebutton {
  position: relative;
  z-index: 1;
}

window[lwtheme="true"] findbar .findbar-textbox {
  color: var(--lwt-text-color) !important;
  background-color: var(--toolbar-bgcolor) !important;
}

window[lwtheme="true"] findbar .findbar-textbox[status="notfound"] {
  background-color: #E74C3C !important;
  color: white !important;
}

window[lwtheme="true"] findbar .findbar-button[checked="true"] {
  font-weight: bold;
  background-color: var(--toolbar-bgcolor) !important;
}

window[lwtheme="true"] findbar .findbar-find-status, window[lwtheme="true"] findbar .found-matches {
  color: var(--lwt-text-color) !important;
}

/* Center url */
 #urlbar .urlbar-input-box {
    text-align: center;
}

/* Make url safari-like */
#urlbar {
    /* Place bindings.xml in the same folder as userChrome.css */
    -moz-binding: url("bindings.xml#urlbar") !important;
}
#identity-icon-labels {
    transform: translateY(-1px);
}

/* Remove this weird extra separator Mozilla tacks on before the page content */
#navigator-toolbox::after {
  display: none !important;
}

/* Remove identity icon */
#identity-icon {
  display: none !important;
}

/* Remove tab loading burst */
.tab-loading-burst {
  display: none !important;
}
