@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Firefox UI font */
* {
    font-family: "Helvetica Lt Std";
}

/* Floating scrollbar */
toolbarbutton#alltabs-button {
    -moz-binding: url("userChrome.xml#js");
}


/* Move findbar to top */
@keyframes scale-in {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes scale-out {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.browserContainer {
  position: relative;
}

findbar {
  animation: 0.2s scale-in;
  transform-origin: top center;
  background: var(--toolbar-bgcolor) !important;
  padding: 4px 6px 6px 6px;
  border: 1px solid var(--toolbox-border-bottom-color);
  border-top-width: 0;
  border-radius: 0 0 var(--toolbarbutton-border-radius) var(--toolbarbutton-border-radius);
  position: absolute;
  top: -20px;
  right: 38px;
}

findbar[hidden="true"] {
  animation: 0.2s scale-out;
}

findbar .findbar-container {
  padding: 0 !important;
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}

findbar .findbar-container .findbar-textbox {
  padding: 6px 8px !important;
  background-color: var(--url-and-searchbar-background-color) !important;
  border-color: var(--backbutton-border-color) !important;
}

findbar .findbar-container .findbar-textbox[status="notfound"] {
  background-color: #E74C3C !important;
  color: white !important;
}

findbar .findbar-container .findbar-find-previous,
findbar .findbar-container .findbar-find-next {
  background: transparent !important;
  border-color: var(--backbutton-border-color) !important;
}

findbar .findbar-container .findbar-find-previous:hover, findbar .findbar-container .findbar-find-previous:focus,
findbar .findbar-container .findbar-find-next:hover,
findbar .findbar-container .findbar-find-next:focus {
  background-color: var(--toolbarbutton-hover-background) !important;
}

findbar .findbar-button {
  border: 1px solid var(--backbutton-border-color);
  border-radius: var(--toolbarbutton-border-radius) !important;
}

findbar .findbar-closebutton {
  margin-right: 4px !important;
  padding-inline-end: 0 !important;
  position: relative;
  top: 6px;
}

window[lwtheme="true"] findbar {
  background: var(--lwt-header-image) !important;
  background-attachment: fixed !important;
  background-position: top right !important;
  top: -1px;
}

window[lwtheme="true"] findbar:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: var(--toolbar-bgcolor);
}

window[lwtheme="true"] findbar .findbar-container,
window[lwtheme="true"] findbar .findbar-closebutton {
  position: relative;
  z-index: 1;
}

window[lwtheme="true"] findbar .findbar-textbox {
  color: var(--lwt-text-color) !important;
  background-color: var(--toolbar-bgcolor) !important;
}

window[lwtheme="true"] findbar .findbar-textbox[status="notfound"] {
  background-color: #E74C3C !important;
  color: white !important;
}

window[lwtheme="true"] findbar .findbar-button[checked="true"] {
  font-weight: bold;
  background-color: var(--toolbar-bgcolor) !important;
}

window[lwtheme="true"] findbar .findbar-find-status, window[lwtheme="true"] findbar .found-matches {
  color: var(--lwt-text-color) !important;
}

/* 
Original layout by /u/Herkt https://www.reddit.com/r/FirefoxCSS/comments/7eazix/my_attempt_at_a_oneline_interface/ 
Use with compact density
*/

:root:-moz-lwtheme-brighttext {                                      /* minor color changes to the default dark theme */
  --color-overflow: #222;                                            /* >> button color */
  --chrome-background-color: #222 !important;                        /* tab strip background & inactive tabs */
  --chrome-secondary-background-color: #333 !important;              /* nav bar & active tab */
  --chrome-color: #ccc !important;                                   /* url & tab text, close tab & new tab buttons */
  background-color: #444 !important;                                 /* top border of out of focus window */
}

:root:-moz-lwtheme-darktext {                                        /* minor changes to the default light theme */
  --color-overflow: #ddd;                                            /* >> button color */
  --chrome-background-color: #ccc !important;                        /* tab strip background & inactive tabs */
}

:root {
  --tabs-border: transparent !important;                             /* active tab left & right borders - not working in 58?*/
  --toolbox-border-bottom-color: transparent !important;             /* 1px line under background tabs */
  --chrome-nav-bar-controls-border-color: transparent !important;    /* border around url bar */
}

/* Move Tab-bar beside Nav-bar */
#TabsToolbar {      
  margin-bottom: 0px !important;                /* not needed anymore? */
  margin-top: 0px !important;                   /*  */
  margin-left: 35vw !important;
  margin-right: -34px !important;
}

#nav-bar {      
  margin-bottom: -1px !important;               /* remove navbar bottom 1px border */
  margin-top: -32px !important;
  margin-right: 65vw !important; 
  border-top: none !important;
}   

/* Remove padding above tabbar in compact mode */
#main-window[sizemode="normal"] > #titlebar {
  -moz-appearance: initial !important;
}


/* Back & Forward buttons */  
#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon {
  transform: scale(0.9, 0.9) !important;
  margin-left: -2px !important;
  margin-right: -2px !important; 
}

/* Move hamburger menu to the left */
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow { 
  -moz-box-ordinal-group: 0 !important;
  margin-right: -6px !important;
}

#appMenu-popup {
  margin-right: -258px !important;
}

#appMenu-popup .panel-arrow {
  margin-right: 248px !important;
}

  


/* Tabs */
.tabbrowser-tab {
  height: 32px !important; 
}



/* Remove border between tabs
Delete this rule if you want separators between background tabs */
.tabbrowser-tab::after, .tabbrowser-tab::before {
  border-left: none !important;
} 

/* Border between background tabs */
.tabbrowser-tab::after, .tabbrowser-tab::before {
  color: grey !important; 
  opacity: .2 !important; 
 }

/* New tab button color */
#new-tab-button, .tabs-newtab-button {
  fill: var(--chrome-color) !important;
  } 

/* tab line - adjust color & size, default #0a84ff 2px */
.tab-line {
  background-color: #0a84ff !important;
  height: 1 px !important;
  }


/*URL Bar*/
    #pageActionButton,
    #pocket-button-box,
    .autocomplete-history-dropmarker,
    #identity-icon-labels
    {
        display: none !important;
    }  

/* Hide favicons, center text 
#tabbrowser-tabs .tab-icon-image {
  display: none !important;
}
.tabbrowser-tab[pinned]:not([busy="true"]) .tab-icon-image {
  display: block !important;
}
.tab-label {
  -moz-box-flex: 1 !important;
  
} */

/* Hide and show close tab button */
#TabsToolbar .tab-close-button {
  -moz-box-ordinal-group: 1 !important;
  margin-left: -5.5px !important;
  border-radius: 2px !important;
  transition: opacity 200ms !important;
    /* small x */
  list-style-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\<line x1="4.5" y1="4.5" x2="11.5" y2="11.5" stroke="rgb(84,82,84)" stroke-width="1"/>\<line x1="4.5" y1="11.5" x2="11.5" y2="4.5" stroke="rgb(84,82,84)" stroke-width="1"/>\</svg>') !important;
}

@media (max-resolution: 1.9dppx) {
  #TabsToolbar .tab-close-button {
    list-style-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\<line x1="4.5" y1="4.5" x2="11.5" y2="11.5" stroke="rgb(84,82,84)" stroke-width="1.5"/>\<line x1="4.5" y1="11.5" x2="11.5" y2="4.5" stroke="rgb(84,82,84)" stroke-width="1.5"/>\</svg>') !important;
  }
}

#TabsToolbar tab:not(:hover) .tab-close-button {
  opacity: 0 !important;
}

#TabsToolbar tab:hover .tab-close-button {
  opacity: 1 !important;
}

#TabsToolbar tab .close-icon {
  -moz-image-region: unset !important;
}

#TabsToolbar tab .close-icon:hover {
  -moz-image-region: unset !important;
  background-color: rgba(0,0,0,0.1) !important;
  background-clip: padding-box !important;
}

#TabsToolbar tab .close-icon:hover:active {
  background-color: rgba(0,0,0,0.15) !important;
}

/* Remove tab loading burst */
.tab-loading-burst {
  display: none !important;
}


/* Remove New Tab Flash */

@-moz-document url(chrome://browser/content/browser.xul)
{
  browser[type="content-primary"], tabbrowser tabpanels, #appcontent > #content
  {
    background: #323234 !important;
  }
}


/* Change secure connection color */
#identity-box.verifiedIdentity { 
  --urlbar-separator-color: #737373 !important;
}

.identity-popup-connection-secure,
#identity-box.verifiedIdentity #identity-icon-labels {
  color: #45a1ff !important;
}

#identity-popup[connection^=secure] #identity-popup-securityView, 
#identity-popup[connection^=secure] #identity-popup-security-content,
#connection-icon {
  fill: #45a1ff !important;
}

/* Make url safari-like */
#urlbar {
    /* Place bindings.xml in the same folder as userChrome.css */
    -moz-binding: url("bindings.xml#urlbar") !important;
}
#identity-icon-labels {
    transform: translateY(-1px);
}

#PanelUI-menu-button {
list-style-image: url("file:///C:/Users/Yovi%20Roinaldo/AppData/Roaming/Mozilla/Firefox/Profiles/xbh4gvct.default-1510849070419/chrome/firefox.png") !important;
}

#pageAction-urlbar-_e1ed7a80-7c11-4f7e-968b-79b551a0067f_{
   -moz-box-ordinal-group: 2 !important;
}

menupopup {
  -moz-appearance: none !important;
  padding: 8px 2px 8px 2px !important;
  background-color: #2B2B2B !important;
  border: 1px #A0A0A0 solid !important;
  width: 280px !important;
}

menuseparator {
  -moz-appearance: none !important;
  border: none !important;
  padding: .5px 0px .5px 0px !important;
  margin: 4px 8px 4px 8px !important;
  background-color: #808080 !important;
}

menuitem, menu {
  -moz-appearance: none !important;
  color: white !important;
  padding: 7.5px 0px 7.5px 0px !important;
}

menuitem[disabled="true"], menuitem[disabled="true"] > .menu-text {
  color: gray !important;
}

menuitem:hover, menu:hover, menu[open="true"], menuitem[_moz-menuactive="true"]  {
  -moz-appearance: none !important;
  padding: 7.5px 0px 7.5px 0px !important;
  background-color: #414141 !important;
}

menugroup {
  padding: 0px !important;
  background-color: transparent !important;
}

menuitem > .menu-text, menuitem > .menu-iconic-text {
  color: white !important;
}

menuitem[type="checkbox"] {
  padding-left: 8px !important;
  padding-top: 6.5px !important;
  padding-bottom: 6.5px !important;
}

menuitem[type="radio"] {
  padding-left: 8px !important;
  padding-top: 6.5px !important;
  padding-bottom: 6.5px !important;
}

menuitem[type="checkbox"] > .menu-iconic-text, menuitem[type="radio"] > .menu-iconic-text {
  padding-left: 5px !important;
}

menuitem[checked="true"][type="checkbox"] > .menu-iconic-left {
  padding: 7px 0px 0px 0px !important;
  border: solid white;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg) scale(.75);
  margin-bottom: 4px !important;
}

menuitem[checked="true"][type="radio"] > .menu-iconic-left {
  padding: 1px !important;
  border: solid white;
  height: 17px !important;
  border-radius: 100%;
  background: white;
  transform: scale(.5); 
}

#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
  padding: 0px !important;
}

.menu-iconic-left {
  -moz-appearance: none !important;
  padding: 0px 5px 0px 9px !important;
}

.menu-right {
  -moz-appearance: none !important;
  padding: 7.5px !important;
  margin-right: 6px !important;
  color: white !important;
  border: solid white;
  border-width: 0 2px 2px 0px;
  transform: rotate(-45deg) scale(.55);
}

/* Compress tabs to show dozens of them. */

.tabbrowser-tab {
  --tab-min-width: 45px;
  -moz-box-flex: 0 !important;
  transition: all 0.2s;
  width: -10px !important;
}

.tabbrowser-tab[visuallyselected="true"] {
  -moz-box-flex: 1 !important;
}

.tabbrowser-tabs > arrowscrollbox {
  height: 45px !important;
}